terraform.tfstate
terraform.tfstate.backup
*.terraform/providers*
.terraform.lock.hcl
dev/.terraform/environment
dev/.terraform/providers/
prod/.terraform/environment
prod/.terraform/providers/
terraform.exe